services:
  homeassistant:
    image: ghcr.io/home-assistant/home-assistant:{{ ha_image_tag }}
    container_name: homeassistant
    network_mode: host
    volumes:
      - /home/{{ admin_user }}/services/homeassistant/config:/config
      - /etc/localtime:/etc/localtime:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - /run/dbus:/run/dbus:ro

    deploy:
      resources:
        limits:
          memory: {{ ha_memory_limit | default('2g') }}
    restart: unless-stopped
